html,body{
    		margin:0;
    		padding: 0;
    		height: 100%;
    	}
    	.container{
    		position: relative;
    		width: 100%;
    		height: 100%;
    	}
    	.top{
    		width: 100%;
    		height: 70px;
    		background: url('xqx_top.png') no-repeat;
    		background-size: contain;
    	}
    	.bottom{
    		position: absolute;
    		width: 30%;
    		bottom: 0px;
    		right: 0px;
    		height: 200px;
    		background: url(xqx_bottom.png) no-repeat;
    		background-size:contain;
    	}
    	.bg{
    		position: relative;
    		height: 60%;
    		background: url(xqx_bg.png) no-repeat;
    		background-size: contain;
    		display: flex;
    		justify-content:center;
    		align-items:center;
    	}
    	.love{
    		margin-top:70px;
    		margin-left: 20px;
    		width: 60%;
    		height: 60%;
    		background: url(xqx_love.png) no-repeat;
    		background-size: contain;
    		

    	}